/* common */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    list-style: none;
}

/* end common */

/* root */

:root {
    --contenitore1-color: rgb(255, 105, 0);
}

/* end root */

.fixed {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background-color: var(--contenitore1-color);
    width: 100%;
    height: 90px;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
}

.click {
    margin-right: 8%;
}

.logo {
    width: 200px;
}


.icon {
    color: white;
    margin: 10px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photos {
    height: 190mm;
    width: 140mm;
    position: relative;
}

.photos-top {
    margin-top: 7%;
    margin-left: 1%;
}

.empty-heart {
    position: absolute;
    top: 5%;
    right: 3%;
}

.icon-box {
    position: relative;
    top: -94%;
    left: -11px;
}

.red-heart {
    height: 30px;
    position: absolute;
    top: 5%;
    right: 3%;
    transition: .5s ease;
    color:red; 
    opacity: 0;
}

.icon-box:hover .red-heart{
    opacity: 1;
}

.absolute {
    display: flex;
    position: absolute;
    top: 90%;
}

.red-band {
    font-size: 22px;
    color: white;
    background-color: red;
    width: 70px;
    padding: 3%;
}

.green-band {
    font-size: 22px;
    color: white;
    background-color: green;
    width: 120px;
    padding: 3%;
    margin-left: 3px;
}

.photos-bottom {
    margin-top: 7%;
    margin-left: 1%;
    margin-bottom: 5%;
}

.fsize {
    font-size: 22px;
}

.bottom {
    color: white;
    background-color: rgb(26, 26, 26);
    height: 110px;
    margin-top: 50px;
    position: relative;
}

.information {
    position: absolute;
    left: 11%;
    top: 12%;
    line-height: 40px;
}

.discount {
    display: inline;
    color: red;
}

.realprice {
    display: inline;
    text-decoration: line-through;
}

.container {
    position: absolute;
    top: 12%;
    left: 82%;
    line-height: 40px;
}

/* :hover */

/* photo 1 */
.p1 {
    position: relative;
}

.overlay1 {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.p1:hover .overlay1 {
    opacity: 1;
}

/* end 1 */

/* photo 2 */
.p2 {
    position: relative;
}

.overlay2 {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.p2:hover .overlay2 {
    opacity: 1;
}

/* end 2 */

/* photo 3 */
.p3 {
    position: relative;
}

.overlay3 {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.p3:hover .overlay3 {
    opacity: 1;
}

/* end 3 */

/* photo 4 */
.p4 {
    position: relative;
}

.overlay4 {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.p4:hover .overlay4 {
    opacity: 1;
}

/* end 4 */

/* photo 5 */
.p5 {
    position: relative;
}

.overlay5 {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.p5:hover .overlay5 {
    opacity: 1;
}

/* end 5 */

/* photo 6 */
.p6 {
    position: relative;
}

.overlay6 {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.p6:hover .overlay6 {
    opacity: 1;
}

/* end 6 */