/* common */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* end common */

/* root */

:root {
    --contenitore1-color: rgb(255, 105, 0);
}

/* end root */

.fixed {
    background-color: var(--contenitore1-color);
    width: auto;
    height: 90px;
}

.flex {
    display: flex;
    justify-content: center;
}

.photos {
    height: 130mm;
    width: 110mm;
    background-color: rgb(193, 95, 186);
    border: 1px solid black;
}

.photos-top {
    margin: 50px 10px;
}

.photos-bottom {
    margin: 10px;
    margin-top: -10px;
}

.bottom {
    background-color: rgb(26, 26, 26);
    height: 110px;
    margin-top: 50px;
}